<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Serial</th>
    </tr>
  </thead>

  <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.title %></td>
            <td><%= product.description %></td>
            <td><%= number_to_currency(product.price) %></td>
            <td><%= product.serial_number %></td>
          </tr>
        <% end %>
  </tbody>
</table>

<div class="btn btn-default">
  <%= link_to 'Recent Products', '/recent' %>
</div>

